body {
  background-color: #f9f9f9;
}

.wrapper {
  display: flex;
}

.navbar {
  height: 100vh;
  width: 50px;
  padding: 10px 0;
  position: relative;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #161616;
  display: flex;
  align-items: center;
  gap: 75px;
  flex-direction: column;
}
.navbar_button {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 0.2s ease;
}
.navbar_button:hover {
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 1px rgb(255, 255, 255));
}
.navbar_button.selected {
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 1px rgb(255, 255, 255));
}
.navbar_settings {
  position: absolute;
  bottom: 10px;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 75px;
}

.leftContent_title {
  font-size: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.leftContent_endText {
  margin-top: 22px;
  color: rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.filter {
  display: flex;
  gap: 15px;
}
.filter_btn {
  color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 0 8px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.3s ease;
}
.filter_btn.active {
  background-color: #fc69d3;
  color: #ba0b8a;
}

.tasksBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.item {
  position: relative;
  width: 360px;
  height: 75px;
  margin-top: 22px;
}

.item-card {
  position: relative;
  z-index: 1;
  width: 360px;
  height: 75px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.item-card_grid {
  position: relative;
  display: grid;
  grid-template-columns: 25px auto;
  grid-row: 25px 15px 15px;
  padding: 5px 14px;
}
.item-card_dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: center;
}
.item-card_dot.HIGH, .item-card_dot.NORMAL {
  background-color: #fc3be8;
}
.item-card_dot.MEDIUM, .item-card_dot.DEFAULT {
  background-color: #3b93fc;
}
.item-card_dot.LOW {
  background-color: #5dc5d3;
}
.item-card_name {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 2;
  font-size: 18px;
}
.item-card_deadline {
  grid-row: 2;
  grid-column: 2;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.4);
}
.item-card_desc {
  grid-row: 3;
  grid-column: 2;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
.item-card_category {
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.8);
}
.item-card_todoCounter {
  grid-row: 2;
  grid-column: 2;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
.item-card_doneCounter {
  grid-row: 3;
  grid-column: 2;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.item-card_toolsBox {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 75px;
  width: 55px;
  transition: 0.3s ease;
}
.item-card_toolsBox.active {
  right: -50px;
}
.item-card_delete {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #ba0b4a;
  width: 100%;
  height: 50%;
  padding-left: 5px;
  transition: 0.3s ease;
  border-top-right-radius: 8px;
  cursor: pointer;
}
.item-card_delete:hover {
  background-color: rgba(186, 11, 74, 0.8);
}
.item-card_edit {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #3b93fc;
  width: 100%;
  height: 50%;
  padding-left: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}
.item-card_edit:hover {
  background-color: rgba(59, 147, 252, 0.8);
}
.item-card_done {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #d30c9e;
  width: 100%;
  height: 50%;
  padding-left: 5px;
  transition: 0.3s ease;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.item-card_done:hover {
  background-color: rgba(211, 12, 158, 0.8);
}

.AddTaskBtn {
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: #fc69d3;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.AddTaskBtn:hover {
  color: #fc8fdd;
}

.modal {
  position: absolute;
  animation: fadeIn 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 8px;
  transition: 0.3s ease;
}
.modal_title {
  font-size: 24px;
}
.modal_form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.modal_input {
  width: 96%;
  height: 25px;
  border: none;
  border-radius: 2px;
  background-color: #d9d9d9;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 6px 0;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.modal_input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.modal_input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.modal_input:focus {
  outline: 2px solid #fc3be8;
}
.modal_select {
  border: none;
  border-radius: 2px;
  background-color: #d9d9d9;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 6px 0;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.modal_row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  gap: 16px;
}
.modal_error {
  font-size: 12px;
  color: red;
}
.modal_blur {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  background: rgba(0, 0, 0, 0.1);
}
.modal_submit {
  background: #fc69d3;
  border: solid #fc69d3 4px;
  border-radius: 2px;
  width: 125px;
  padding: 5px;
  font-family: "poppins";
  font-size: 16px;
  color: #fff;
  transition: 0.3s ease;
  cursor: pointer;
}
.modal_submit:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}
.modal_delete {
  background: #ba0b4a;
  border: solid #ba0b4a 4px;
  border-radius: 2px;
  width: 125px;
  padding: 5px;
  font-family: "poppins";
  font-size: 16px;
  color: #fff;
  transition: 0.3s ease;
  cursor: pointer;
}
.modal_delete:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}
.modal_cancel {
  background: none;
  border: solid rgba(0, 0, 0, 0.8) 2px;
  border-radius: 2px;
  width: 125px;
  padding: 5px;
  font-family: "poppins";
  font-size: 16px;
  color: #000;
  transition: 0.3s ease;
  cursor: pointer;
}
.modal_cancel:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=App.css.map */