body {
  background-color: #f9f9f9;
}

.wrapper {
  display: flex;
}

.navbar {
  height: 100vh;
  width: 50px;
  padding: 10px 0;
  position: relative;

  box-sizing: border-box;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  background-color: #161616;

  display: flex;
  align-items: center;
  gap: 75px;

  flex-direction: column;

  &_button {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      color: rgba(255, 255, 255);
      filter: drop-shadow(0px 0px 1px rgb(255, 255, 255));
    }
    &.selected {
      color: rgba(255, 255, 255);
      filter: drop-shadow(0px 0px 1px rgb(255, 255, 255));
    }
  }
  &_settings {
    position: absolute;
    bottom: 10px;
  }
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 75px;
}

.leftContent {
  &_title {
    font-size: 32px;
  }
  &_endText {
    color: rgba($color: #000000, $alpha: 0.2);
  }
}

.filter {
  display: flex;
  gap: 15px;
  &_btn {
    color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 0 8px;
    cursor: pointer;
    user-select: none;

    transition: 0.3s ease;
  }
  &_btn.active {
    background-color: #fc69d3;
    color: #ba0b8a;
  }
}
.tasksBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.task {
  position: relative;
  width: 360px;
  height: 75px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 1px 2px 10px rgba($color: #000000, $alpha: 0.1);

  padding: 5px 14px;
  margin: 22px 0px;

  display: grid;
  grid-template-columns: 25px auto;
  grid-row: 25px 15px 15px;

  &_priorityDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    &.HIGH {
      background-color: #fc3be8;
    }
    &.MEDIUM {
      background-color: #3b93fc;
    }
    &.LOW {
      background-color: #5dc5d3;
    }
  }

  &_name {
    width: 100%;
    height: 100%;

    grid-row: 1;
    grid-column: 2;

    font-size: 18px;
  }
  &_deadline {
    grid-row: 2;
    grid-column: 2;

    font-size: 11px;
    color: rgba($color: #000000, $alpha: 0.4);
  }
  &_desc {
    grid-row: 3;
    grid-column: 2;
    font-size: 12px;
    color: rgba($color: #000000, $alpha: 0.6);
  }

  &_category {
    position: absolute;
    top: 4px;
    right: 10px;

    font-size: 10px;
    color: rgba($color: #000000, $alpha: 0.8);
  }
}

.AddTaskBtn {
  position: absolute;
  bottom: 25px;
  right: 25px;

  color: #fc69d3;
  background: none;
  border: none;

  cursor: pointer;

  transition: 0.3s ease;

  &:hover {
    color: #ba0b8a;
  }
}

.modal {
  position: absolute;

  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 35%;

  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);

  border-radius: 10px;

  &_title {
    font-size: 24px;
  }

  &_form {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  &_input {
    width: 96%;
    height: 25px;

    border: none;
    border-radius: 2px;

    background-color: #d9d9d9;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1);

    padding: 5px;
    margin: 6px 0;

    font-size: 15px;
    font-family: "Poppins", sans-serif;

    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
  }
  &_select {
    border: none;
    border-radius: 2px;

    background-color: #d9d9d9;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);

    padding: 5px;
    margin: 6px 0;

    font-size: 15px;
    font-family: "Poppins", sans-serif;
  }
  &_row {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
  }
  &_error {
    font-size: 12px;
    color: red;
  }
  &_blur {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(2.5px);
    background: rgba(0, 0, 0, 0.1);
  }
  &_submit {
    background: #fc69d3;

    border: none;
    border-radius: 5px;

    width: 100px;
    padding: 5px;

    font-family: "poppins";
    font-size: 16px;
    color: #fff;
  }

  &_cancel {
    background: none;

    border: solid #fc69d3 4px;
    border-radius: 5px;

    width: 100px;
    padding: 5px;

    font-family: "poppins";
    font-size: 16px;
    color: #fc69d3;
    cursor: pointer;
  }
}
